<div class="login-container">
  <img src="login.png" alt="LoginBackground" class="background-image">
  <!-- Login Box -->
  <div class="login-box">
    <img src="logo.png" alt="MindBuilder Logo" class="logo">
    <h2>Welcome Back</h2>
    <p>EVERY LITTLE STEP YOU TAKE OPENS THE DOOR TO BIG KNOWLEDGE, NEW DISCOVERIES, AND ENDLESS POSSIBILITIES. LOG IN AND LET THE LEARNING JOURNEY BEGIN!</p>
    <form>
      <input type="text" placeholder="Enter Name or Email" />
      <input type="password" placeholder="Enter Password" />
      <a href="#">Forget Password?</a>
      <button>Sign In</button>
    </form>
  </div>
</div>
